$brown: #562C2C;
$orange: #F2542D;
$yellow: #F5DFBB;
$lightgreen: #0E9594;
$green: #127475;
$darkgreen: #1EB980;
$black: #121212;
$grey-lighter: #78909C;
$teal: #1DE9B6;
$pink: #E91E63;

$background-light: #F6F6F7;

// Dark theme
$darklow: #1A1A1A;
$darkhigh: $black;
$textcolor: $grey-lighter;
