@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500&display=swap&family=Roboto&display=swap&family=DM+Sans:ital,wght@0,400;0,500;1,400&display=swap');

.work-sans {
    font-family: 'Work Sans', sans-serif;
}

.roboto {
  font-family: 'Roboto', sans-serif;
}

.dm-sans {
  font-family: 'DM Sans', sans-serif;
}