/**************************\
  Basic Modal Styles
\**************************/
  
  .modal__overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 99;
  }
  
  .modal__container {
    background-color: #fff;
    padding-top: 0;
    width: 500px;
    max-height: 100vh;
    border-radius: 10px;
    overflow-y: auto;
    box-sizing: border-box;

    @media only screen and (max-width: 700px) {
        width: 100%;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        position: absolute;
        bottom: 0;

        @apply rounded-t-3xl;
    }
  }
  
  .modal__header {
    text-align: center;
    position: relative;
    padding: 5px;

    @apply border-b-2;
    @apply border-gray-200;
  }
  
  .modal__title {
    font-weight: 500;

    @apply text-lg;
  }
  
  .modal__close {
    background: transparent;
    border: 0;
    position: absolute;
    right: 10px;
    top: 7px;
  }
  
  .modal__header .modal__close:before {
      &:focus {
          outline: none !important;
          border: none !important;
      }
      //content: "\2715";
  }
  
  .modal__content {
    color: rgba(0,0,0,.8);
    padding: 20px;
  }
  
  .modal__btn {
    font-size: .875rem;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: .5rem;
    padding-bottom: .5rem;
    background-color: #e6e6e6;
    color: rgba(0,0,0,.8);
    border-radius: .25rem;
    border-style: none;
    border-width: 0;
    cursor: pointer;
    -webkit-appearance: button;
    text-transform: none;
    overflow: visible;
    line-height: 1.15;
    margin: 0;
    will-change: transform;
    -moz-osx-font-smoothing: grayscale;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    transition: -webkit-transform .25s ease-out;
    transition: transform .25s ease-out;
    transition: transform .25s ease-out,-webkit-transform .25s ease-out;
  }
  
  .modal__btn:focus, .modal__btn:hover {
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
  }
  
  .modal__btn-primary {
    background-color: #00449e;
    color: #fff;
  }
  
  
  
  /**************************\
    Demo Animation Style
  \**************************/
  @keyframes mmfadeIn {
      from { opacity: 0; }
        to { opacity: 1; }
  }
  
  @keyframes mmfadeOut {
      from { opacity: 1; }
        to { opacity: 0; }
  }
  
  @keyframes mmslideIn {
    from { transform: translateY(15%); }
      to { transform: translateY(0); }
  }
  
  @keyframes mmslideOut {
      from { transform: translateY(0); }
      to { transform: translateY(-10%); }
  }

  @keyframes mmSlideUp {
    from { transform: translateY(50%); }
      to { transform: translateY(0); }
  }

  @keyframes mmSlideDown {
    from { transform: translateY(0); }
      to { transform: translateY(100%); }
  }

  @keyframes scaleForward {
    0% {
      transform:scale(.85);
    }
    100% {
      transform:scale(1);
    }
  }

  @keyframes scaleBack {
    0% {
      transform:scale(1);
    }
    100% {
      transform:scale(.85);
    }
  }
  
  .micromodal-slide {
    display: none;
  }
  
  .micromodal-slide.is-open {
    display: block;
  }
  
  .micromodal-slide[aria-hidden="false"] .modal__overlay {
    animation: mmfadeIn .5s cubic-bezier(0.0, 0.0, 0.2, 1);

    @media only screen and (max-width: 700px) {
      animation: none;
    }
  }
  
  .micromodal-slide[aria-hidden="false"] .modal__container {
    animation: scaleForward 0.5s cubic-bezier(0, 0, .2, 1);

    @media only screen and (max-width: 700px) {
      animation: mmSlideUp 0.2s cubic-bezier(0, 0, .2, 1);
    }
  }
  
  .micromodal-slide[aria-hidden="true"] .modal__overlay {
    animation: mmfadeOut .3s cubic-bezier(0.0, 0.0, 0.2, 1);
  }
  
  .micromodal-slide[aria-hidden="true"] .modal__container {
    animation: scaleBack .3s cubic-bezier(0, 0, .2, 1);

    @media only screen and (max-width: 700px) {
      animation: mmSlideDown .1s cubic-bezier(0, 0, .2, 1);
    }
  }
  
  .micromodal-slide .modal__container,
  .micromodal-slide .modal__overlay {
    will-change: transform;
  }