.text-xxs {
    font-size: 10px;
}

.strip-border {
    border: none;
    outline: none;

    &:hover, &:active {
        border: none;
        outline: none;
    }
}

.strip-button {
    @extend .strip-border;
}

.shadow-cust {
    $color: #E0E0E0;
    -webkit-box-shadow: 8px 8px 40px 3px $color;
    -moz-box-shadow: 8px 8px 40px 3px $color;
    box-shadow: 8px 8px 40px 3px $color;
}