// Color palette
$primary: #1EB980;
$primary-darker: #045D56;
$orange: #FF6859;
$yellow: #FFCF44;
$purple: #B15DFF;
$blue: #72DEFF;
$background-primary: #FFF;
$background-secondary: darken(#FFF, 4);
$black: #121212;
$dark: lighten(#121212, 40);
$blue-grey: #37474F;
$blue-grey-darker: #78909C;
$darker-white: darken(#fff, 15);

// Other colors

$cyan-bg: #B2EBF2;
$cyan-fg: #00BCD4;
$teal-bg: #B2DFDB;
$teal-fg: #009688;
$green-bg: #C8E6C9;
$green-fg: #4CAF50;
$red-bg: #FFCDD2;
$red-fg: #F44336;