@import "colors";
@import "fonts";
@import "navbar";
@import "utility";
@import "dark";
@import "text";
@import "micromodal";
@import "button";

$md: 768px;


body {
    @extend .work-sans;

    transition: 0.2s ease;
}

html {
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    @apply bg-gray-200;
}

::-webkit-scrollbar-thumb {
    @apply bg-gray-700;
    @apply rounded-lg;
}